body, html{
    background-color: #292b29;
    height:100%;
    margin:0;
    padding:0;
}
body{
  display:flex;
  flex-direction: column;
}
/* Header titlebox */
.header {
    font-family:'Press Start 2P';
    color:#00FF00;
    background-color: #353434;
    text-align: center;
    padding: 5px;
    border-style: double;
    border-width: 5px;
    border-color: #2bff00;

  }

  .content{
    display:flex;
    flex-direction: row;
    flex:1;
    color:#00FF00;
    background-color: #353434;
    border-style: double;
    border-width:5px;
    border-color:#00FF00;
  }
  .footer {
    background-color: #353434;
    color: #00FF00;
    text-align: center;
    padding: 10px;
    border-style: double;
    border-width: 5px;
    border-color: #2bff00;
  }
  /*index div styling*/
  .index{
    float:left;
    width:15%;
    border-style:solid;
    border-width:2px;
    border-color:#00ff00a8;
    font-size: 20px;

  }
  /*index button styling*/
  .layer-button{
    display:block;
    display:flex;
    font-family: "Courier New", monospace; /* To give a DOS program font */
    font-weight: 900;
    flex-direction: column;
    color:#00FF00;
    text-decoration: none;
    background-color: rgb(206, 0, 0);
    border-style: ridge;
    border-width:2px;
    text-align: center;
    padding: 5px 5px;
    margin:5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .layer-button:hover{
    background-color:#00FF00;
    color:black;
  }
  .layer-button:active{
    background-color:yellowgreen;
    color:red;
  }
  .layer-button.active{
    /*Style for active layer button*/
    background-color: #00FF00;
    color:black;
  }
/* Adjust iframe styling */
#layerContainer {
  flex:1;
  display:flex;
  flex-direction: column;
}

#layerContainer iframe {
  flex:1;
  width:100%;
  border:none;
  margin:0;
  padding:0;
}


