/*layers-style.css, control styles of the layers*/

/*shared styles for all layers*/

.layer-content{
    text-align:center;
    font-size: 25px;
    white-space: pre;
    font-weight: 900;
    color:#00FF00;
    background-color:#353434;
    border-width: 5px;
    border-style: dotted;
    height:96vh;
}
#layer1LoginButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:4px;
    transition:0.3s;
}
#layer1LoginButton:hover{
    background-color:red;
    color:white;
    font-weight:900;
}
/* Additional styles, specific to layer 1*/
.layer2-specific{
    font-size:10px;

}